body {
    background-image: linear-gradient(rgba(7, 177, 234, 0.5), rgba(35, 111, 178, 0.5), rgba(135, 17, 144, 0.5));
}

.container {
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}   

#board {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    font-family: 'Londrina Outline', cursive;
    font-size: 5rem;
    font-weight: 700;

}

.cell {
    border: 3px solid rgb(231, 11, 205);
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.x {
    color: rgb(242, 242, 87);
}

.o {
    color: rgb(238, 152, 33);
}

.top-cell {
    border-top: 2px solid transparent;
}

.bottom-cell {
    border-bottom: 2px solid transparent;
}

.left-cell {
    border-left: 2px solid transparent;
}

.right-cell {
    border-right: 2px solid transparent;
}