body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(128, 0, 128, 0.5), rgba(255, 0, 0, 0.5), rgba(255, 166, 0, 0.5));
}

.container {
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}   

#board {
    display: grid;
}

.cell {
    border: 2px solid black;
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-cell {
    border-top: 2px solid transparent;
}

.bottom-cell {
    border-bottom: 2px solid transparent;
}

.left-cell {
    border-left: 2px solid transparent;
}

.right-cell {
    border-right: transparent;
}